body {
  background-color: rgb(161, 217, 205);
  color: rgb(110, 56, 161);
  font-size: 18px;
  font-weight: normal;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.avatarnika {
  height: 300px;
  width: 230px;
  border-radius: 20%;
  margin-top: 70px;
  box-shadow: 4px 4px 14px;
}
.hobbyv {
  background: rgb(80, 165, 239);
  padding: 5px;
  border: 3px;
  border-radius: 20%;
  margin: 25px;
}
h1 {
  color: rgb(211, 53, 106);
}
.alllove {
  margin: auto;
  max-width: 750px;
}
.infov p {
  color: black;
  font-style: italic;
  margin: 0px;
  font-weight: normal;
}
.contactv {
  background: rgb(210, 245, 104);
  padding: 5px;
  border-radius: 20%;
  border: 3px;
  margin: 25px;
}
.hobbyv h2 {
  padding-left: 30px;
}
.hobbyv ul {
  padding-left: 100px;
}
.contactv h2 {
  padding-left: 30px;
}
.contactv ul {
  padding-left: 100px;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: rgb(113, 219, 86);
}
a:visited {
  color: rgb(73, 91, 92);
}
.infov {
  display: flex;
}
.infov p {
  color: black;
  margin: 10px;
  font-style: italic;
  font-weight: normal;
}
.infovw {
  margin: 0;
  padding-top: 150px;
  padding-left: 50px;
}
